@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#watch {
  font-size: 250%;
  height: 25%;
  width: 100%;
  ul {
    line-height: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .digital-wrap {
    display: inline-block;
    height: 3em;
    margin: auto;
    overflow: hidden;
    @include vertical-align;
    ul {
      color: #ddd;
      float: left;
      height: 3em;
      margin: 0;
      padding: 0;
      width: 2em;
    }
    li {
      font-size: 1.5em;
      line-height: 2em;
      text-align: center;
    }
  }
}

.time-marker {
    font-size: 50%;
    @include vertical-align;
    top: -20%; 
}

$dayInSec : 86400s;//amount of seconds in day
$hourInSec: 3600s;//amount of seconds in hour

.divider {
  float: left;
  width: 3%;
  display: block;
  height: 100%;
  line-height: 300%;

}
.digit-seconds-animation {
  animation: dsm 60s steps(60, end) 0s infinite;
}
.digit-minutes-animation {
  animation: dsm 3600s steps(60, start) infinite;
}

.digit-hours-animation {
  animation: dh 86400s steps(24, start) infinite;
}

@keyframes dsm {//animation description
  to { transform:translateY(-120em) }
}

@keyframes dh {//animation description
  to { transform:translateY(-48em) }
}

@media screen 
and (orientation: landscape) 
and (min-height: 600px) {//styles for devices with width from 600px
  .time-marker {
    top: -23%;
  }

  .day-night {
    bottom: 16%;
  }
}

@media screen 
and (orientation: landscape) 
and (height: 768px) {//styles for devices with width from 768px
  .time-marker {
    top: -7%;
  }

  .weather {
    top: 10px;
  }

  .location-value {
    top: 6em;
  }
}

@media screen 
and (orientation: landscape) 
and (min-height: 800px) {//styles for devices with width from 800px
  .day-night {
    bottom: 30%;
  }

  .weather {
    margin-top: -10%;
  }

  .location-value {
    top: 6em;
  }
}

@media screen 
and (orientation: landscape) 
and (min-height: 900px) {//styles for devices with width from 900px
  .time-marker {
    top: 2%;
  }
  .day-night {
    bottom: 35%;
  }

  .location-value {
    top: 7em;
  }
}

@media screen 
and (orientation: landscape) 
and (min-height: 1024px) {//styles for devices with width from 1024px
  .time-marker {
    top: 7%;
  }
}

@media screen 
and (orientation: landscape) 
and (min-height: 1200px) {//styles for devices with width from 1200px
  #watch {
    font-size: 400%;
  }

  .time-marker {
    top: -8%;
  }
}

@media screen 
and (orientation: landscape) 
and (min-height: 2000px) {//styles for devices with width from 2000px
  #watch {
    font-size: 600%;
  }

  .time-marker {
    top: -30%;
  }
}