.settings{
	//temporary styles
  margin: 0;
  padding: 0;
  text-align: center; 
  color: #CCFF99;
  font-size: 2em;
  padding-top:2%;
  height: 100vh;
  font-family: 'Titillium Web', sans-serif;
  background-color: gray;
  
}


