.settings {
    background-color: #222;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    height: 100%;
    padding-top: 2%;
    text-align: center; 
    &-title {
        padding-bottom: 2%;
        margin-bottom: 4%;
  }
}

.max-days-settings {
    margin-top: 2vh;
}