<div class="container-fluid settings">
	<div class="row">
		<div class="location-gear">
			<a ui-sref="home">
				<img src="svg/cogweel.svg" class="wheel" alt="gearwheel" /> 
			</a>
		</div>
		<div class="col-xs-12 settings-title">
			Settings
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<dropdown-search class="col-xs-6"></dropdown-search>
		<div class="col-xs-1"></div>
	</div>
	<div class="row">
		<settings-switcher data-title="Show day as:" data-init="{{settings.displayDay}}"></settings-switcher>
		<settings-switcher data-title="Days to show:" data-init="{{settings.daysToDisplay}}" class="max-days-settings"></settings-switcher>
		<settings-switcher data-title="Sync period:" data-init="{{settings.syncPeriod}}" class="max-days-settings"></settings-switcher>
	</div>
</div>
