.settings {
    background-color: gray;
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    height: 100vh;
    padding-top: 2%;
    text-align: center; 
    &-title {
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid #9A9A9A;
  }
}

.max-days-settings {
    margin-top: 2vh;
}