<div class="container-fluid settings">
	<div class="row">
		<div class="location-gear">
			<a ui-sref="home">
				<img src="svg/cogweel.svg" class="wheel" alt="gearwheel" /> 
			</a>
		</div>
		<div class="col-xs-12 settings-title">
			Settings
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
		</div>
		<div class="col-xs-8">
			<div class="col-xs-2"></div>
			<dropdown-search></dropdown-search>							
		</div>
		<div class="col-xs-2">
		</div>
	</div>
	<div class="row">
		<settings-switcher data-title="Sync period:" data-init="{{settings.syncPeriod}}" class="max-days-settings"></settings-switcher>
	</div>
</div>
