.temperature-value {
	font-size: 9.5em;
	font-weight: lighter;
	line-height: 100%;	
	position: relative;
	text-align: center;
}

.day-night-shift {
	display: block;
	font-size: 1.5em;
	font-weight: lighter;
}

.temperature-minor {
	font-size: 2em;
	font-weight: lighter;
	position: relative;
}

.main-temp {
	height: 30%;
}

.temperature-circle {
	top: 20%;
    border-radius: 15px;
    border: 3px solid white;
    height: 12px;
    position: absolute;
    width: 12px;
}

.three-symbols {
	text-align: center;
	margin-right: 20%;
}

@media only screen 
and (min-device-width : 600px) {//styles for devices with width from 600px
	.main-temp {
		height: 25%;
		width:100%;
	}

	.temperature-value {
		bottom: -25%;
		font-size: 5em;
		font-weight: lighter;
		position: relative;
		text-align: center;
	}

	.day-night-shift {
		display: block;
		font-size:1em;
	}

	.temperature-minor {
		font-size: 1.5em;
		position: relative;
		top: -5px;
	}

	.three-symbols {
		text-align: center;
		margin-right: 20%;
	}
}