.temperature {
	height: 40vh;
}

.temperature-value {
	bottom: 5vh;
	font-size: 10em;
	font-weight: lighter;
	position: relative;
	text-align: center;
}

.day-night-shift {
	display: block;
	font-size: 1.5em;
	font-weight: lighter;
}

.temperature-minor {
	font-size: 2em;
	font-weight: lighter;
	position: relative;
}

.main-temp {
	height: 30%;
}

@media only screen and (min-device-width : 639px) {
	.main-temp {
		height: 25%;
		width:100%;
	}

	.temperature-value {
		bottom: -5vh;
		font-size: 5em;
		font-weight: lighter;
		position: relative;
		text-align: center;
	}

	.day-night {
		position: relative;
		right: -5em;
		top: -20%;
	}

	.day-night-shift {
		display: block;
		font-size:1em;
	}

	.temperature-minor {
		font-size: 1.5em;
		position: relative;
		top: -1vh;
	}
}