@mixin bgImage($url) {
	background: $url no-repeat;
	background-size: 75% auto;
	background-position: 50%;
}

body, html {
	box-sizing: border-box;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	height: 100%;
	text-align: center;
	width: 100%;
}

.row, ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.thunder {
	background-color: #999999;
}
.drizzle {
	background-color: #9cb8be;
}
.lightRain {
	background-color: #bda881;
}
.heavyRain {
	background-color: #675680;
}
.freezingRain {
	background-color: #36b1bf;
}
.snow {
	background-color: #375d81;
}
.clearSky {
	background-color: #f2385a;
}
.fewClouds {
	background-color: #f1854b;
}
.scatteredClouds {
	background-color: #c27146;
}
.overcastClouds {
	background-color: #1d9e48;
}
.mist {
	background-color: #75608b;
}
.tornado {
	background-color: #484545;
}

.wheel {
	height: 6%;
}

.location-gear {
	cursor: pointer;
	left: 4vh;
	position: absolute;
	top: 3.5vh;
	z-index: 100;
}

.location-container {
	position: absolute;
	width: 95%; 
}

.weather-state-container {
	height: 80%;
	margin-top: 10vh;
}

.arrow-left {
	height: 9vh;
	position: relative;
	right: 2vh;
	top: -7vh;
}

.arrow-right {
	@extend .arrow-left;
}

.other-info {
	bottom: 4vh;
	height: 20vh;
	margin: -6px;
	position: relative;
}

.wholeWeather {
	height: 45%;
}

.current-location-title {
	position: relative;
	top: 1vh;
}

.weather {
	font-size: 2.3rem;
	font-weight: lighter;
	padding: 0;
	position: relative;
	text-transform: capitalize;
	top: -12vh;
}

@media screen and (max-device-height: 499px) {
	.day-night {
		position: absolute;
		right: 10%;
		top: 24%;
	}

	.nav-dots {
		bottom: 10vh;
		position: relative;
	}
}

@media screen 
and (min-device-height : 500px)
and (max-device-height: 599px) {
	.other-info {
		bottom:-2vh;
		height: 20vh;
		margin: -6px;
		position: relative;
	}

	.day-night {
		position: absolute;
		right: 10%;
		top: 21%;
	}

	.nav-dots {
		bottom: 10vh;
		position: relative;
	}
}

@media screen 
and (min-device-height : 600px)
and (max-device-height : 699px)
and (orientation: portrait) {
	.other-info {
		bottom:-5vh;
		height: 20vh;
		margin: -6px;
		position: relative;
	}

	.weather {
		top: -10vh;
	}

	.nav-dots {
		bottom: 8vh;
		position: relative;
	}

	.day-night {
		position: absolute;
		right: 10%;
		top: 20%;
	}
}

@media screen and (min-device-height : 700px) {
	.other-info {
		bottom:-12vh;
		height: 20vh;
		margin: -6px;
		position: relative;
	}

	.weather {
		top: -10vh;
	}

	.nav-dots {
		bottom: 5vh;
		position: relative;
	}

	.day-night {
		position: absolute;
		right: 10%;
		top: 18%;
	}
}

@media screen 
and (orientation: landscape)
and (min-device-height : 640px) {
	.day-night {
		position: absolute;
		right: 10%;
		top: 30vh;
	}
}