body, html {
  background-color: #75608b;
  color: white;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
}

.row, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.current-location {
  padding-top: 2%;
  font-weight: lighter;
  font-size: 2em;
  height: 10vh;
}

.temperature {
  height: 30vh;
}

.temperature-value {
  font-size: 10em;
  font-weight: lighter;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.empty {
  display: inline-block;
}

.currentWeather {
  height: 40vh;
}

.leftarrow, .rightarrow {
  background-image: url(leftarrow.png);
  display: inline-block;
  height: 64px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.weatherIcon {
  display: inline-block;
  height: 64px;
}

img {
  &.main {
    height: 130px;
    width: 100px;
  }
  height: 40px;
  width: 40px;
}

.rightarrow {
  background-image: url(rightarrow.png);
}

.weather {
  padding-top: 10%;
  font-size: 1.7em;
  font-weight: lighter;
}

li {
  display: inline-block;
  height: 9px;
  width: 9px;
  background-image: url(circle2.png);
}

.circles {
  width: 50%;
  margin: auto;
}

.otherInfo {
  position: relative;
  height: 20vh;
  top: 10%;
}

.humidity-value, .wind-value, .moon-stage {
  font-size: 1.5em;
}