@mixin bgImage($url){
		background: $url no-repeat;
		background-size: 100% auto;
		background-position:50%;
}
$full-width: 100%;
$full-heigth: 100%;
$font-stack: 'Titillium Web', sans-serif;
$bg-color: #343434;
$col-green: #1D9E48;
$col-violet: #75608B;
$col-blue: #375D81;



body, html {
  color: white;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.row, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.thunder{
	background-color: #999999;
}
.drizzle{
	background-color: #9cb8be;
}
.lightRain{
	background-color: #bda881;
}
.heavyRain{
	background-color: #675680;
}
.freezingRain{
	background-color: #36b1bf;
}
.snow{
	background-color: #375d81;
}
.clearSky{
	background-color: #f2385a;
}
.fewClouds{
	background-color: #f1854b;
}
.scatteredClouds{
	background-color: #c27146;
}
.overcastClouds{
	background-color: #1d9e48;
}
.mist{
	background-color: #75608b;
}
.tornado{
	background-color: #484545;
}

.wheel {
	height: 35px;
	width: 40px;
}

.location-gear {
	position: absolute;
	top: 1vh;
	left:0;
	z-index: 100;
	cursor: pointer;
}

.location-container {
	position: absolute;
	width: 95%; 
}

.weather-state-container {
	margin-top: 10vh;
	height: 80%;
}

.arrow-left {
	position: relative;
	right: 2vh;
}

.arrow-right {
	position: relative;
	right: 2vh;
}
.other-info {
		position: relative;
		margin: -6px;
		bottom:-5vh;
	}

@media only screen 
and (min-device-height : 500px)
and (max-device-height: 599px) {

.other-info {
	position: relative;
		margin: -6px;
		bottom:-10vh;
}

}


@media only screen 
and (min-device-height : 600px) {

.other-info {
	position: relative;
		margin: -6px;
		bottom:-13vh;
}

.weather {
	top: 0vh;
}

.nav-dots {
	position: relative;
	top: 5vh;
}

}