<div class="container-fluid tablet">
		<div class='location-gear'>
			<a ui-sref="settings">
				<img src="svg/cogweel.svg" class="wheel-tablet" alt="gearwheel" /> 
			</a>
		</div>
	<clock class="current-date_location">
		<div class="location-value">{{home.city}}</div>
		<div class="empty2"></div>
	</clock>
	<div class="today-block" ng-repeat="timeValue in home.closestDates">
		<div class="current-day">
			<tablet-time class="current-location" data-time="{{timeValue}}"></tablet-time>
		</div>
		<div ng-class="home.getBgClass(timeValue)" class="info-wrapper">
			<current-weather data-time="{{timeValue}}" class="wholeWeather"></current-weather>
			<temperature data-time="{{timeValue}}" class="main-temp col-xs-12"></temperature>
			<div class="wind-moon">
				<div class="row wind-moon-wrapper">
					<div class="col-sm-6 today-wind" style="float: left;">
						<wind-information data-time="{{timeValue}}"></wind-information>
					</div>
					<div class="today-moon col-sm-6" style="float: left;">
						<moon-information  data-time="{{timeValue}}"></moon-information> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>