<div class="container-fluid tablet">
	<div class="current-date_location">
		<div class="empty1"></div>
		<div class="current-time">{{home.time.now*1000|date:'h:mm'}}<span><b>{{home.time.now*1000|date:'a'}}</b></span></div>
		<div class="current-date-value">{{home.time.now*1000|date:'EEE, MMMM d'}}</div>
		<div class="location-value">{{home.city}}<span>Ukraine</span></div>
		<div class="empty2"></div>
	</div>
	<div class="today-block" ng-repeat="timeValue in home.getClosestDates()">
		<div class="current-day">
			<tablet-time class="current-location" data-time="{{timeValue}}"></tablet-time>
		</div>
		<div ng-class="home.getBgClass(timeValue)" class="info-wrapper">
			<current-weather data-time="{{timeValue}}" class="wholeWeather"></current-weather>
			<temperature data-time="{{timeValue}}" class="main-temp col-xs-12"></temperature>
			<div class="wind-moon">
				<div class="row wind-moon-wrapper">
					<div class="col-sm-6 today-wind" style="float: left;">
						<wind-information data-time="{{timeValue}}"></wind-information>
					</div>
					<div class="today-moon col-sm-6" style="float: left;">
						<moon-information  data-time="{{timeValue}}"></moon-information> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>