$full-width: 100%;//full horizontal coverage
$full-heigth: 100%;//full vertical coverage
$font-stack: 'Titillium Web', sans-serif;//main font of all page
$bg-color: #343434;//background color

body, html {
    background-color: $bg-color;
    color: white;
    font: $font-stack;
    height: $full-heigth;
    text-align: center;
}

@media screen//styles for devices 800x600px up to x768px
and (orientation: landscape)
and (min-device-width: 800px)
and (min-device-height: 600px)
and (max-device-height: 768px) {

.current-time {
    font-size: 7em;
}

.main {
    height: 100%;
    width: 80%;
}

.day-night {
    bottom: 15%;
}

.temperature-circle {
    height: 12px;
    width: 12px;
}

.moon-img {
    height: 75px;
    width: 75%;
}

.weather {
    margin-top: 2%;
}

}

@media screen //styles for devices with min height of 768px up to 800px
and (orientation: landscape)
and (min-device-height: 768px)
and (max-device-height: 800px) {

    .day-night {
        bottom: 30%;
    }

    .weather {
    margin-top: 2%;
}
}

@media screen
and (orientation: landscape)
and (device-height: 768px) {
    .day-night {
        height: 45%;    }
}

@media screen
and (orientation: landscape)
and (device-height: 950px) {
    .day-night {
        height: 29%;    }
}

.container-fluid {
    overflow: hidden;
    padding: 0;
}

.current-date_location {
    float: left;
    height: $full-heigth;
    overflow: hidden;
    width: ($full-width*0.37);
}

.empty1 {//supporting block
    height: 17%;
    width: $full-width;
}

.empty2 {//supporting block
    width: $full-width;
}

.current-time {
    height: 25%;
    span {
        bottom: 75px;
        font-size: 0.1em;
        position: relative;
    }
}

.current-date-value {
    font-size: 2em;
    line-height: 1%;
    position: relative;
    top: 1em;
}

.location-value {
    font-size: 1.75em;
    span {
        font-size: 0.5em;
        left: -40px;
        position: relative;
        top: 12px;
    }
    display: inline-block;
    position: relative;
    top: 5em;
} 

.location-value:before {//location icon implementation
    @include bgImage(url("../svg/placeholder.svg"));
    content: '';
    display: block;
    float: left;
    height: 6%;
    width: 40px;
    line-height: 8em;
}

.today-block {
    float: left;
    height: $full-heigth;
    overflow: hidden;
    width: ($full-width*0.21);
}

.info-wrapper {
    height: 83%;
}

.today-wind {
    margin-top: 10%;
}
.today-moon {
    @extend .today-wind;
}