body, html {
  background-color: #75608b;
  color: white;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
}

.row, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}