$settingsButtonHeight: 50px;
$settingsButtonWidth: 100px;
$btnSelected: #E6E6E6;
$btnBorderSelected: #ADADAD;

.settings-item {
	&-title {
		font-size: 0.7em;
	}

	&-controlls {

		&-radio {
			display: none;
			opacity: 0;
		}

		&-button {
			padding: 10px 15px;
			text-align: center;	

			&-active {
				background-color: $btnSelected;
				border-color: $btnBorderSelected;
			}
		}
	}
}
