.nav-dot {
	background-color: #fff;
	border-radius: 3px;
	display: inline-block;
	height: 6px;
	margin: 10px;
	width: 6px;
}

.nav-dot-active {
	border-radius: 5px;
	border-radius: 5px;
	border: 2.5px solid white;
	display: inline-block;
	height: 10px;
	margin: 8px;
	width: 10px;
}