.other-info {
		position: relative;
		height: 20vh;
		margin: -6px;
		bottom:-5vh;

	}

.humidity-value, .wind-value, .moon-stage {
		font-size: 1.9em;
	}

.wind-img{
		height: 9vh;
		width: 9vh;
		margin:auto;
}
