.humidity-img {//humidity images
	height: 15%;
	margin: auto;
	width: 50%;
		&.lowHumidity {
			@include bgImage(url("../svg/humidity-low.svg"));
			background-size: 120%;
		}
		&.mediumHumidity {
			@include bgImage(url("../svg/humidity-mid.svg"));
			background-size: 120%;
		}
		&.highHumidity {
			@include bgImage(url("../svg/humidity-high.svg"));
			background-size: 120%;
		}
}

.humidity-value {
    font-size: 1.2em;
    font-weight: lighter;
    position: relative;
    text-align: center;
}