.weatherIcon{
	padding:0;
	margin:0; 
	position: relative;
	bottom: 13vh;
}

.main {
	height:23vh;
	width: 20vh;
	margin:auto;
	&.thunder{
		@include bgImage(url("../svg/lightning.svg"));
	}
	&.drizzle{
		@include bgImage(url("../svg/drizzle.svg"));
	}
	&.lightRain{
		@include bgImage(url("../svg/rain-sun.svg"));
	}
	&.heavyRain{
		@include bgImage(url("../svg/rain.svg"));
	}
	&.freezingRain{
		@include bgImage(url("../svg/snow-rain.svg"));
	}
	&.snow{
		@include bgImage(url("../svg/snow.svg"));
	}
	&.clearSky{
		@include bgImage(url("../svg/sun.svg"));
	}
	&.fewClouds{
		@include bgImage(url("../svg/light-cloud.svg"));
	}
	&.scatteredClouds{
		@include bgImage(url("../svg/cloud.svg"));
	}
	&.overcastClouds{
		@include bgImage(url("../svg/high-cloud.svg"));
	}
	&.mist{
		@include bgImage(url("../svg/mist.svg"));
	}
	&.tornado{
		@include bgImage(url("../svg/hurricane.svg"));
	}
}

.weather {
	font-size: 2.25em;
	bottom: 6vh;
	position: relative;
	text-transform: capitalize;
	padding: 0;
}

li {
	display: inline-block;
}

.controls {
	width: 9px;
	height: 9px;
}

.circles {
	width: 50%;
	margin: auto;
	position: relative;
}


@media only screen 
and (min-device-width : 639px) 
{
	.weatherIcon{
		padding:0;
		margin:0;
		position:relative;
		bottom: 0;
		height: 70%;

	}

	.main{
		width:80%;
		background-position: 50%;
		
	}

	.weather {
    position: relative;
    text-transform: capitalize;
	}

}