.weatherIcon {
	bottom: 13vh;
	margin: 0; 
	padding: 0;
	position: relative;
}

.main {
	height: 23vh;
	margin: auto;
	width: 20vh;
	&.thunder {
		@include bgImage(url("../svg/lightning.svg"));
	}
	&.drizzle {
		@include bgImage(url("../svg/drizzle.svg"));
	}
	&.lightRain {
		@include bgImage(url("../svg/rain-sun.svg"));
	}
	&.heavyRain {
		@include bgImage(url("../svg/rain.svg"));
	}
	&.freezingRain {
		@include bgImage(url("../svg/snow-rain.svg"));
	}
	&.snow {
		@include bgImage(url("../svg/snow.svg"));
	}
	&.clearSky {
		@include bgImage(url("../svg/sun.svg"));
	}
	&.fewClouds {
		@include bgImage(url("../svg/light-cloud.svg"));
	}
	&.scatteredClouds {
		@include bgImage(url("../svg/cloud.svg"));
	}
	&.overcastClouds {
		@include bgImage(url("../svg/high-cloud.svg"));
	}
	&.mist {
		@include bgImage(url("../svg/mist.svg"));
	}
	&.tornado {
		@include bgImage(url("../svg/hurricane.svg"));
	}
}

.weather {
	bottom: 6vh;
	font-size: 2.73rem;
	padding: 0;
	position: relative;
	text-transform: capitalize;
}

li {
	display: inline-block;
}

.controls {
	height: 9px;
	width: 9px;
}

.circles {
	margin: auto;
	position: relative;
	width: 50%;
}

@media only screen and (min-device-width : 639px) {
	.weatherIcon {
		bottom: 0;
		height: 70%;
		margin:0;
		padding:0;
		position:relative;
	}

	.main {
		background-position: 50%;	
		width:50%;
	}

	.weather {
    	position: relative;
    	text-transform: capitalize;
    	top: 0vh;
	}
}