.weatherIcon {
	margin: 0; 
	padding: 0;
	position: relative;
}

.main {//stack of weather img
	height: 20%;
	margin: auto;
	width: 60%;
	&.thunder {
		@include bgImage(url("../svg/lightning.svg"));
	}
	&.drizzle {
		@include bgImage(url("../svg/drizzle.svg"));
	}
	&.lightRain {
		@include bgImage(url("../svg/rain-sun.svg"));
	}
	&.heavyRain {
		@include bgImage(url("../svg/rain.svg"));
	}
	&.freezingRain {
		@include bgImage(url("../svg/snow-rain.svg"));
	}
	&.snow {
		@include bgImage(url("../svg/snow.svg"));
	}
	&.clearSky {
		@include bgImage(url("../svg/sun.svg"));
	}
	&.fewClouds {
		@include bgImage(url("../svg/light-cloud.svg"));
	}
	&.scatteredClouds {
		@include bgImage(url("../svg/cloud.svg"));
	}
	&.overcastClouds {
		@include bgImage(url("../svg/high-cloud.svg"));
	}
	&.mist {
		@include bgImage(url("../svg/mist.svg"));
	}
	&.tornado {
		@include bgImage(url("../svg/hurricane.svg"));
	}
}

.weather {
	font-size: 2.6rem;
	padding: 0;
	position: relative;
	text-transform: capitalize;
}

li {
	display: inline-block;
}

.controls {
	height: 9px;
	width: 9px;
}

.circles {
	margin: auto;
	position: relative;
	width: 50%;
}

@media only screen 
and (min-device-width : 600px) {//styles for device width from 600px
	.weatherIcon {
		bottom: 0;
		height: 60%;
		margin:0;
		padding:0;
		position:relative;
	}

	.main {
		background-position: 50%;	
		width: 80%;
		height: 100%;
	}

	.weather {
    	position: relative;
    	text-transform: capitalize;
	}
}