.moon-value {
    font-size: 1.2em;
    font-weight: lighter;
    position: relative;
    text-align: center;
	}

.moon-img {//stack of moom phases img
	height: 15%;
	margin:auto;
	width: 50%;

		&.MoonPhaseOne {
			@include bgImage(url("../svg/moon1.svg"));
			background-size: 120%;
		}

		&.MoonPhaseTwo {
			@include bgImage(url("../svg/moon2.svg"));
			background-size: 120%;
		}
		&.MoonPhaseThree {
			@include bgImage(url("../svg/moon3.svg"));
			background-size: 120%;
		}
		&.MoonPhaseFour {
			@include bgImage(url("../svg/moon4.svg"));
			background-size: 120%;
		}
		&.MoonPhaseFive {
			@include bgImage(url("../svg/moon5.svg"));
			background-size: 120%;
		}
		&.MoonPhaseSix {
			@include bgImage(url("../svg/moon6.svg"));
			background-size: 120%;
		}
		&.MoonPhaseSeven {
			@include bgImage(url("../svg/moon7.svg"));
			background-size: 120%;
		}
		&.MoonPhaseEight {
			@include bgImage(url("../svg/moon8.svg"));
			background-size: 120%;
		}
		&.MoonPhaseNine {
			@include bgImage(url("../svg/moon9.svg"));
			background-size: 120%;
		}
		&.MoonPhaseTen {
			@include bgImage(url("../svg/moon10.svg"));
			background-size: 120%;
		}
		&.MoonPhaseEleven {
			@include bgImage(url("../svg/moon11.svg"));
			background-size: 120%;
		}
		&.MoonPhaseTwelve {
			@include bgImage(url("../svg/moon12.svg"));
			background-size: 120%;
		}		
}