.wind-img {
	bottom: 1vh;
	height: 10vh;
	margin:auto;
	position: relative;
	width: 10vh;
}

.wind-value {
    bottom: 4vh;
    font-size: 1.4em;
    font-weight: lighter;
    position: relative;
    text-align: center;
}