.wind-img{
	height: 10vh;
	width: 10vh;
	margin:auto;
	position: relative;
	bottom: 1vh;
}
.wind-value {
    font-size: 1.4em;
    text-align: center;
    position: relative;
    bottom: 4vh;
    font-weight: lighter;
	}