.current-location {
    font-size: 2em;
    font-weight: lighter;
    height: 16vh;
    padding-top: 2%;
    vertical-align: middle;

    &-title {
        max-height: 16vh;
        overflow: hidden;
        text-overflow: ellipsis;

      &__city {
          white-space: nowrap;
      }
    }
}

@media only screen and (min-device-width: 639px) {
    .current-location {
        display: table-cell;
        font-size: 1.5em;
        font-weight: lighter;
        height: 16vh;
        padding-top: 2%;
    }
    
    &-title {
        max-height: 16vh;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align:middle;
          &__city {
              white-space: nowrap;
          }
    }
 }

.current-day {
    background-color: $bg-color;
    margin:0;
    overflow: hidden;
    padding:0;
    text-align: center;
    vertical-align: middle;
    width: $full-width;
        display: table;
        height: 17%;
}