.current-location {
  padding-top: 2%;
  font-weight: lighter;
  font-size: 2em;
  height: 10vh;

  &-title {
  	max-height: 16vh;
  	overflow: hidden;
  	text-overflow: ellipsis;

  	&__city {
  		white-space: nowrap;
  	}
  }
}